<!--DOCTYPE html-->

<html>
<body>

<h1>This is product list : </h1>
<p>{% for obj in prod_list %}
    id = {{ obj.id }}<br>
    name = {{ obj.name }}<br>
    cost = {{ obj.cost }}<br>
    type = {{ obj.type }}<br>
    brand = {{ obj.brand }}<br>
    image = {{ obj.image }}<br>
    <br>
    {% endfor %}
</p>

</body>
</html>