<!--DOCTYPE html-->

<html>
<body>

<h1>Rating : </h1>
<p> id = {{ rating.id }}<br>
    product = {{ rating.product }}<br>
    user = {{ rating.user }}<br>
    integer = {{ rating.integer }}<br>
</p>

</body>
</html>